//  variables

// color
$border-color-one:orange;
$border-color-two:darkblue;
$secondary-color:red;



// font-size

$all-p:1.4rem;

// clipath-one
$top-clip-parth-1:polygon(0 74%, 0 0, 35% 0%, 52% 0, 52% 1%, 1% 1%, 1% 75%);
$top-clip-parth-blue: polygon(0 26%, 0 0, 35% 0%, 53% 0, 53% 5%, 5% 5%, 5% 44%, 0 44%);;
$top-clip-orange-one: polygon(0 35%, 0 0, 35% 0%, 71% 0, 71% 1%, 1% 1%, 1% 35%);
$top-clip-orange-two: polygon(0 35%, 0 0, 35% 0%, 71% 0, 71% 1%, 1% 1%, 1% 35%);

// clipath-two
$top-clip-parth-2:polygon(100% 43%, 99% 42%, 99% 99%, 69% 99%, 69% 100%, 100% 100%);
$top-clip-parth-blue-2:polygon(43% 94%, 94% 94%, 94% 59%, 100% 59%, 100% 84%, 100% 100%, 43% 100%);
$top-clip-orange-one-bottom:polygon(53% 100%, 100% 100%, 100% 61%, 99% 62%, 99% 99%, 92% 99%, 53% 99%);
                            
$top-clip-orange-two-bottom: polygon(63% 100%, 100% 100%, 100% 63%, 99% 64%, 99% 100%, 100% 99%, 63% 99%);