@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
.overall {
  background-color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 3rem;
}

.overall .first-border {
  -webkit-clip-path: polygon(0 74%, 0 0, 35% 0%, 52% 0, 52% 1%, 1% 1%, 1% 75%);
          clip-path: polygon(0 74%, 0 0, 35% 0%, 52% 0, 52% 1%, 1% 1%, 1% 75%);
  background-color: orange;
  width: 91%;
  height: 82vh;
  position: absolute;
  left: 4%;
  top: 0.1%;
  padding: 3rem;
}

.overall .container {
  border: 2px solid orange;
  width: 80%;
  margin: 1.5rem 0;
}

.overall .container .blue-con {
  -webkit-clip-path: polygon(0 26%, 0 0, 35% 0%, 53% 0, 53% 5%, 5% 5%, 5% 44%, 0 44%);
          clip-path: polygon(0 26%, 0 0, 35% 0%, 53% 0, 53% 5%, 5% 5%, 5% 44%, 0 44%);
  background-color: #050528;
  width: 85%;
  height: 80vh;
  position: absolute;
  top: 1.5%;
  left: 6%;
}

.overall .container .orange-con1 {
  -webkit-clip-path: polygon(0 35%, 0 0, 35% 0%, 71% 0, 71% 1%, 1% 1%, 1% 35%);
          clip-path: polygon(0 35%, 0 0, 35% 0%, 71% 0, 71% 1%, 1% 1%, 1% 35%);
  background-color: orange;
  width: 75%;
  height: 80vh;
  position: absolute;
  top: 7%;
  left: 11%;
}

.overall .container .orange-con2 {
  -webkit-clip-path: polygon(0 35%, 0 0, 35% 0%, 71% 0, 71% 1%, 1% 1%, 1% 35%);
          clip-path: polygon(0 35%, 0 0, 35% 0%, 71% 0, 71% 1%, 1% 1%, 1% 35%);
  background-color: orange;
  width: 70%;
  height: 80vh;
  position: absolute;
  left: 13%;
  top: 8.4%;
}

.overall .container .proud {
  font-size: 1rem;
  margin: 2rem 2rem;
  letter-spacing: 2px;
  font-weight: 500;
}

.overall .container .logo-photo-cotainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 0;
}

.overall .container .logo-photo-cotainer .logo {
  max-width: 44%;
}

.overall .container .logo-photo-cotainer .passport {
  max-width: 44%;
}

.overall .container .logo-photo-cotainer .certi {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.overall .container .logo-photo-cotainer .certi div {
  font-size: 1.9rem;
  font-weight: 700;
  letter-spacing: 5px;
}

.overall .container .logo-photo-cotainer .certi span {
  font-size: 0.9rem;
}

.overall .container .user-name hr {
  width: 300px;
}

.overall .container .user-name span {
  font-family: "Allura", cursive;
  font-size: 4rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.overall .container .date-signature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  margin: 2rem;
}

.overall .container .comment {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  margin: 10px;
}

.overall .container .comment p {
  width: 65%;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .overall {
    width: 70%;
    position: relative;
    padding: 3rem;
  }
}
/*# sourceMappingURL=certit.css.map */