// color
$border-color-one: orange;
$border-color-two: rgb(5, 5, 40);
$secondary-color: red;
$primary-color: whitesmoke;

@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");

// font-size

$all-p: 1.4rem;

// clipath-one
$top-clip-parth-1: polygon(0 74%, 0 0, 35% 0%, 52% 0, 52% 1%, 1% 1%, 1% 75%);
$top-clip-parth-blue: polygon(
  0 26%,
  0 0,
  35% 0%,
  53% 0,
  53% 5%,
  5% 5%,
  5% 44%,
  0 44%
);

$top-clip-orange-one: polygon(0 35%, 0 0, 35% 0%, 71% 0, 71% 1%, 1% 1%, 1% 35%);
$top-clip-orange-two: polygon(0 35%, 0 0, 35% 0%, 71% 0, 71% 1%, 1% 1%, 1% 35%);

// clipath-two
$top-clip-parth-2: polygon(
  100% 43%,
  99% 42%,
  99% 99%,
  69% 99%,
  69% 100%,
  100% 100%
);
$top-clip-parth-blue-2: polygon(
  55% 95%,
  96% 95%,
  96% 45%,
  100% 45%,
  100% 78%,
  100% 100%,
  85% 100%,
  56% 100%
);
$top-clip-orange-one-bottom: polygon(
  53% 100%,
  100% 100%,
  100% 61%,
  99% 62%,
  99% 99%,
  92% 99%,
  53% 99%
);

$top-clip-orange-two-bottom: polygon(
  63% 100%,
  100% 100%,
  100% 63%,
  99% 64%,
  99% 100%,
  100% 99%,
  63% 99%
);

.overall {
  background-color: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 78%;
  height: auto;
  position: relative;
  box-shadow: 2px 2px 2px 2px gray, -2px -2px 2px 2px gray;
  margin-top: 3rem;
  // padding: 3rem;

  .first-border {
    clip-path: $top-clip-parth-1;
    background-color: $border-color-one;
    width: 91%;
    height: 60vh;
    position: absolute;
    left: 4%;
    top: 0.1%;
    // padding: 3rem;
    padding-top: 3rem;
  }

  .container {
    border: 2px solid$border-color-one;
    width: 80%;
    margin: 1.5rem 0;

    .blue-con {
      clip-path: $top-clip-parth-blue;
      background-color: $border-color-two;
      width: 85%;
      height: 80vh;
      position: absolute;
      top: 1.5%;
      left: 6%;
    }
    .orange-con1 {
      clip-path: $top-clip-orange-one;
      background-color: $border-color-one;
      width: 75%;
      height: 80vh;
      position: absolute;
      top: 7%;
      left: 11%;
    }
    .orange-con2 {
      clip-path: $top-clip-orange-two;
      background-color: $border-color-one;
      width: 70%;
      height: 80vh;
      position: absolute;
      left: 13%;
      top: 8.4%;
    }
    .proud {
        text-align: center;
      font-size: 2rem;
      margin: 2rem 3rem;
      letter-spacing: 0px;
      font-weight: 500;
      padding-left: 3rem;
    }

    .logo-photo-cotainer {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 2rem 0;

      .logo {
        max-width: 44%;
      }
      .passport {
        max-width: 44%;
      }
      .certi {
        width: auto;
        display: flex;
        flex-direction: column;
        div {
          font-size: 4rem;
          font-weight: 500;
          letter-spacing: 2px;
        }
        span {
          font-size: 2rem;
          letter-spacing: 5px;
          font-weight: 500;
        }
      }
    }
    .user-name hr {
      width: 300px;
    }
    .user-name span {
      font-family: "Allura", cursive;
      font-size: 4rem;
      font-weight: 500;
      margin: 0;
      padding: 0;
    }
    .date-signature {
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-weight: 600;
      margin: 3rem;
    }
    .comment {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      margin: 10px;
    }

    .comment p {
      width: 65%;
      font-size: 16px;
    }
    .blue-con2 {
      clip-path: $top-clip-parth-blue-2;
      background-color: $border-color-two;
      width: 91%;
      height: 82vh;
      bottom: 2%;
      right: 8.8%;
      position: absolute;
    }
    .orange1 {
      clip-path: $top-clip-orange-one-bottom;
      width: 91%;
      background-color: $border-color-one;
      height: 82vh;
      bottom: 7%;
      right: 12.7%;
      position: absolute;
    }
    .orange2 {
      clip-path: $top-clip-orange-two-bottom;
      width: 91%;
      background-color: $border-color-one;
      height: 82vh;
      bottom: 8.5%;
      right: 14%;
      position: absolute;
    }
  }
  .first-border2 {
    clip-path: $top-clip-parth-2;
    background-color: $border-color-one;
    width: 91%;
    height: 82vh;
    bottom: 0.7%;
    right: 7%;
    position: absolute;
  }
}

// @media  only screen and (max-width: 500px) {
//   .overall {
//     width: 80%;
//     position: relative;
//     padding: 3rem;
//     // .holder {
//     //   margin: 3rem 0;
//     //   height: 90vh;
//     //   width: 90%;
// .first-border{
//     left: 6%;
//         top: 6.1%;
// }
//     // }
//     .container {
//       border: 2px solid$border-color-one;
//       width: 100%;
//       margin: 1.5rem 0;

//       .blue-con {
//         clip-path: $top-clip-parth-blue;
//         background-color: $border-color-two;
//         width: 85%;
//         height: 80vh;
//         position: absolute;
//         top: 7.5%;
//             left: 8%;
//       }

//       .orange-con1 {
//         clip-path: $top-clip-orange-one;
//         background-color: $border-color-one;
//         width: 75%;
//         height: 80vh;
//         position: absolute;
//         top: 11.5%;
//             left: 13%;
//       }

//       .orange-con2 {
//         clip-path: $top-clip-orange-two;
//         background-color: $border-color-one;
//         width: 70%;
//         height: 80vh;
//         position: absolute;
//     left: 14%;
//         top: 12.4%;
//       }

//       .proud {
//         font-size: 1rem;
//         margin: 2rem 2rem;
//         letter-spacing: 0px;
//         font-weight: 500;
//       }

//       .logo-photo-cotainer {
//         width: 100%;
//         display: flex;
//         justify-content: space-around;
//         align-items: center;
//         margin: 2rem 0;

//         .logo {
//           max-width: 44%;
//         }

//         .passport {
//           max-width: 44%;
//         }

//         .certi {
//           width: auto;
//           display: flex;
//           flex-direction: column;

//           div {
//             font-size: 2rem;
//             font-weight: 700;
//             letter-spacing: 2px;
//           }

//           span {
//             font-size: 1rem;
//             letter-spacing: 2px;
//             font-weight: 500;
//           }
//         }
//       }

//       .user-name hr {
//         width: 300px;
//       }

//       .user-name span {
//         font-family: "Allura", cursive;
//         font-size: 3rem;
//         font-weight: 500;
//         margin: 0;
//         padding: 0;
//       }

//       .date-signature {
//         display: flex;
//         justify-content: space-around;
//         align-items: center;
//         font-weight: 600;
//         margin: 3rem;
//       }

//       .comment {
//         width: 100%;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         padding: 10px;
//         margin: 10px;
//       }

//       .comment p {
//         width: 65%;
//         font-size: 16px;
//       }

      

//       .orange1 {
//         clip-path: $top-clip-orange-one-bottom;
//         width: 91%;
//         background-color: $border-color-one;
//         height: 82vh;
//         bottom: 7%;
//         right: 12.7%;
//         position: absolute;
//       }

//       .orange2 {
//         clip-path: $top-clip-orange-two-bottom;
//         width: 91%;
//         background-color: $border-color-one;
//         height: 82vh;
//         bottom: 8.5%;
//         right: 14%;
//         position: absolute;
//       }
//     }
//     .blue-con2 {
//       clip-path: polygon(
//         43% 94%,
//         94% 94%,
//         94% 59%,
//         100% 59%,
//         99% 84%,
//         99% 100%,
//         43% 100%
//       );
//       background-color: $border-color-two;
//       width: 91%;
//       height: 82vh;
//       bottom: 6%;
//       right: 9%;
//       position: absolute;
//     }
//     .orange-con1 {
//       top: 60%;
//     }
//     .orange-con2 {
//       top: 20%;
//     }
//     .blue-con {
//       top: 16%;
//     }
//     .first-border2{
//         bottom: 5%;
//     }
//   }
// }
@media only screen and (max-width:600px){
    .overall {
            background-color: $primary-color;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 96%;
            height: auto;
            position: relative;
            box-shadow: 2px 2px 2px 2px gray, -2px -2px 2px 2px gray;
            margin-top: 3rem;
            // padding: 3rem;
    
            .first-border {
                clip-path: $top-clip-parth-1;
                background-color: $border-color-one;
                width: 91%;
                height: 60vh;
                position: absolute;
                left: 4%;
                top: 0.1%;
                // padding: 3rem;
                padding-top: 3rem;
            }
    
            .container {
                border: 2px solid$border-color-one;
                width: 80%;
                margin: 1.5rem 0;
    
                .blue-con {
                    clip-path: $top-clip-parth-blue;
                    background-color: $border-color-two;
                    width: 85%;
                    height: 80vh;
                    position: absolute;
                    top: 1.5%;
                    left: 6%;
                }
    
                .orange-con1 {
                    clip-path: $top-clip-orange-one;
                    background-color: $border-color-one;
                    width: 75%;
                    height: 80vh;
                    position: absolute;
                    top: 7%;
                    left: 11%;
                }
    
                .orange-con2 {
                    clip-path: $top-clip-orange-two;
                    background-color: $border-color-one;
                    width: 70%;
                    height: 80vh;
                    position: absolute;
                    left: 13%;
                    top: 8.4%;
                }
    
                .proud {
                    font-size: 1rem;
                    margin: 2rem 2rem;
                    letter-spacing: 0px;
                    font-weight: 500;
                }
    
                .logo-photo-cotainer {
                    width: 100%;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    margin: 2rem 0;
    
                    .logo {
                        max-width: 54%;
                    }
    
                    .passport {
                        max-width: 50%;
                    }
    
                    .certi {
                        width: auto;
                        display: flex;
                        flex-direction: column;
    
                        div {
                            font-size: 2rem;
                            font-weight: 500;
                            letter-spacing: 2px;
                        }
    
                        span {
                            font-size: 1rem;
                            letter-spacing: 2px;
                            font-weight: 500;
                        }
                    }
                }
    
                .user-name hr {
                    width: 250px;
                }
    
                .user-name span {
                    font-family: "Allura", cursive;
                    font-size: 4rem;
                    font-weight: 500;
                    margin: 0;
                    padding: 0;
                }
    
                .date-signature {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-weight: 600;
                    margin: 3rem;
                }
    
                .comment {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 10px;
                    margin: 10px;
                }
    
                .comment p {
                    width: 65%;
                    font-size: 16px;
                }
    
                .blue-con2 {
                    clip-path: $top-clip-parth-blue-2;
                    background-color: $border-color-two;
                    width: 91%;
                    height: 82vh;
                    bottom: 2%;
                    right: 8.8%;
                    position: absolute;
                }
    
                .orange1 {
                    clip-path: $top-clip-orange-one-bottom;
                    width: 91%;
                    background-color: $border-color-one;
                    height: 82vh;
                    bottom: 7%;
                    right: 12.7%;
                    position: absolute;
                }
    
                .orange2 {
                    clip-path: $top-clip-orange-two-bottom;
                    width: 91%;
                    background-color: $border-color-one;
                    height: 82vh;
                    bottom: 8.5%;
                    right: 14%;
                    position: absolute;
                }
            }
    
            .first-border2 {
                clip-path: $top-clip-parth-2;
                background-color: $border-color-one;
                width: 91%;
                height: 82vh;
                bottom: 0.7%;
                right: 7%;
                position: absolute;
            }
        }
    
}