@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");

.overall {
  background-color: whitesmoke;
  width: 80%;
  height: 90vh;
  margin: 10px;
  padding: 20px;
  
  box-shadow: 2px 2px 2px 2px gray, -2px -2px 2px 2px gray;
  display: flex;
  justify-content: center;
  position: relative;

  align-items: center;
}
.blue-con {
  width: 90%;
  height: 80vh;
  /* border: 2px solid gray; */
  /* padding: 4px; */
  clip-path: polygon(0 26%, 0 0, 35% 0%, 53% 0, 53% 5%, 5% 5%, 5% 44%, 0 44%);
  background-color: rgb(5, 5, 40);
  position: absolute;
  left: -16px;
  z-index: 0;
  top: -11px;
}
.blue-con2 {
width: 65%;
    height: 82vh;
  
clip-path: polygon(43% 94%, 94% 94%, 94% 59%, 100% 59%, 100% 84%, 100% 100%, 43% 100%);
  background-color: rgb(5, 5, 40);
  position: absolute;
    left: 409px;
        top: -24px;
}
.first-border2 {
width: 91%;
    height: 82vh;
  background-color: orange;
  position: absolute;
  left: 53px;
  z-index: 0;
 


clip-path: polygon(100% 43%, 99% 42%, 99% 99%, 69% 99%, 69% 100%, 100% 100%);
  top:71px
}

.o-1{

clip-path: polygon(53% 100%, 100% 100%, 100% 61%, 99% 62%, 99% 99%, 92% 99%, 53% 99%);
width: 92%;
    height: 63vh;
    background-color: orange;
    position: absolute;
left: 79px;
    top: 79px
}
.o-2{

clip-path: polygon(63% 100%, 100% 100%, 100% 63%, 99% 64%, 99% 100%, 100% 99%, 63% 99%);
width: 90%;
    height: 62vh;
    background-color: orange;
    position: absolute;
left: 94px;
    z-index: 0;
    top: 79px;

}
.first-border {
  width: 60%;
  height: 60vh;
  clip-path: polygon(0 74%, 0 0, 35% 0%, 52% 0, 52% 1%, 1% 1%, 1% 75%);
  background-color: orange;
  position: absolute;

  left: 41px;
  z-index: 0;
  top: 50px;
  margin-bottom: 0;
}


.orange-con1 {
  clip-path: polygon(0 35%, 0 0, 35% 0%, 71% 0, 71% 1%, 1% 1%, 1% 35%);
  background-color: orange;
  position: absolute;
  left: 25px;
  z-index: 0;
  top: 22px;
  width: 70%;
  height: 70vh;
  margin-bottom: 30px;
}
.orange-con2{


clip-path: polygon(0 12%, 0 0, 9% 0, 58% 0, 59% 1%, 1% 1%, 1% 57%, 0 57%);

    background-color: orange;
        position: absolute;
        left: 40px;
            z-index: 0;
            top: 33px;
        width: 63%;
            height: 48vh;
        margin-bottom: 30px;
}


.container {
  position: absolute;
  z-index: 100;
  background-color: whitesmoke;
  width: 80%;
  height: 70vh;
  text-align: center;
  margin: 10px;
  padding: 20px;

  border: 2px solid orange;
}
.container h2 {
  letter-spacing: 5px;
  text-align: center;
  margin-left: 4rem;
  padding: 1rem 0;
}
.logo {
  width: 160px;
}
.passport {
  width: 80px;
  height: 80px;
}
.logo-photo-cotainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 1.4rem;
}
.certi {
  display: flex;
  flex-direction: column;
}
.certi div {
  font-size: 3.7rem;
  font-weight: 700;
  letter-spacing: 5px;
}
.certi span {
  font-weight: 600;
  letter-spacing: 5px;
  font-size: 17px;
}
.user-name hr {
  width: 300px;
}
.presented {
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-name span {
  font-family: "Allura", cursive;
  font-size: 4rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
.comment {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
}
.comment p {
  width: 65%;
  font-size: 16px;
}
.date-signature {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
.first-border{
top: 20px;
    left: 20px;
}
.container{
height: 82vh;
width: 86%;
}
.orange-con1{
left: 16px;
    top: 16px
}
.orange-con2{
    left: 23px;
        top: 23px;
}
.logo{
    width: 87px;
}
.certi div{
font-size: 2.7rem;
    letter-spacing: 2px;
    margin: 0 4rem;

}
.certi span{
    font-weight: 600;
        letter-spacing: 3px;
        font-size: 15px;
}
.logo-photo-cotainer{
    width: 97%
    
}
.first-border2{
    left: 34px;
        z-index: 0;
      
        top: 87px;
}
.blue-con2{
top: 47px;
    left: 241px;
}
.o-2{
top: 149px;
    left: 35px;
}
}
.o-1{
    top: 152px;
        left: 30px;
    }
    .container h2{
        letter-spacing: 1px;
            text-align: center;
            margin-left: 4rem;
            padding: 1rem 0;
    }





@media screen and (max-width: 500px) {
    .first-border{
        left: 3px;
            top: 17px;
    }
    .orange-con1{
        left: 7px;
            top: 19px;
    }
    .orange-con2{
        left: 13px;
            top: 26px;
    }
    .blue-con2{
    
            left: 148px;
                    }
    .o-1{
            left: 17px;
    }
    .o-2{
    left: 31px;
    }
    .certi div{
        font-size: 1.5rem;
            font-weight: 700;
            letter-spacing: 3px;
            padding: 0 10px
        }
        .container h2{
            font-size: 1.2rem;
                letter-spacing: -1px;
        }
        .blue-con{
            left: -12px;
                top: -14px;
            }
        
    }
